@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  /* list-style: none; */
  font-family: '微軟正黑體';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 75%;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 20px 0 10px;
}

section {
  margin-bottom: 2rem !important;
}

/* 多行註解  會被編譯 */
/* 單行註解 //  不會被編譯 */
/* css 原生變數會被編譯出來 */
:root {
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #174ab8;
  --warning: #ffc107;
  --danger: #dc3545;
}

/* 1. Variables(變數)
    優點：維持網站一致性
    css 原生變數會被編譯出來
    scss 變數不會被編譯出來
*/
/* ???? css  */
body {
  background: #dcc;
}

h1 {
  background: -webkit-gradient(linear, left bottom, left top, from(#00004b), color-stop(55%, #000ac8), to(#0019ff));
  background: linear-gradient(0deg, #00004b 0%, #000ac8 55%, #0019ff 100%);
  color: salmon;
  border: 5px solid #fff;
  border-radius: 0.5rem;
  padding: 0.5rem 0.5rem;
  -webkit-box-shadow: 0 0 5px rgba(0, 190, 0, 0.8);
          box-shadow: 0 0 5px rgba(0, 190, 0, 0.8);
  margin-bottom: 1rem;
}

/* 2. Flow Control (流程控制) */
/* random() 為 sass 內建函數，提供亂數，從 1 開始 */
.mybox {
  width: 150px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: sandybrown;
  color: springgreen;
  font-size: 30px;
  border: 10px solid yellow;
  margin: 50px;
  outline: 10px solid purple;
}

/*  */
.through-1 {
  width: 50px;
  height: 50px;
  display: inline-block;
  background-color: slateblue;
}

.through-2 {
  width: 100px;
  height: 100px;
  display: inline-block;
  background-color: slateblue;
}

.through-3 {
  width: 150px;
  height: 150px;
  display: inline-block;
  background-color: slateblue;
}

/*  */
.to-1 {
  width: 50px;
  height: 50px;
  display: inline-block;
  background-color: steelblue;
}

.to-2 {
  width: 100px;
  height: 100px;
  display: inline-block;
  background-color: steelblue;
}

/* 3. nested (巢狀) */
#section3 .menu {
  font-size: 0;
  margin-top: 1rem;
}

#section3 .menu li {
  list-style: none;
  width: 100px;
  text-align: center;
  font-size: 1rem;
}

#section3 .menu li a {
  display: block;
  background-color: thistle;
  color: palevioletred;
  text-decoration: none;
  padding: 0.5rem;
}

#section3 .menu li a:hover {
  color: palegreen;
  background-color: pink;
}

#section3 .menu li + li {
  border-left: 1px solid #000;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

nav {
  font-family: '微軟正黑體';
  font-size: 1rem;
  font-weight: 500;
  border-style: solid;
  border-width: 2px;
  border-color: #c0e;
}

/* BEM 每層依序 */
.slidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slidebar__item {
  color: mediumblue;
  padding: 1rem;
  border: 1px solid #333;
  text-decoration: none;
}

.slidebar__item--active {
  color: lightgreen;
  background-color: lightskyblue;
}

.slidebar__item:hover {
  color: lime;
  background-color: khaki;
}

#exercise .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#exercise .row .col {
  width: 30%;
  padding: 1.5rem;
  background-color: rgba(240, 230, 140, 0.3);
}

#exercise .row .col img {
  width: 100%;
  border-radius: 15px;
}

#exercise .row .col h2 {
  text-shadow: 1px 1px 1px khaki;
}

#exercise .row .col a {
  text-decoration: none;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

#exercise .row .col a:hover {
  color: lawngreen;
}

/* 4. Extend (繼承) % 符號 */
.extend {
  width: 50px;
  height: 50px;
  float: left;
}

.box1, .box2, .box3 {
  width: 50px;
  height: 50px;
  float: left;
}

#extend {
  overflow: auto;
}

.box1 {
  background-color: indianred;
}

.box2 {
  background-color: ivory;
}

.box3 {
  background-color: indigo;
}

/* 5. Sass 的計算 */
.box4 {
  background-color: navy;
  color: #ace;
  margin: 5px;
  /* 加法 */
  width: 100px;
  height: 100px;
}

.box5 {
  background-color: navy;
  color: #ace;
  margin: 5px;
  /* 減法 */
  width: 75px;
  height: 75px;
}

.box6 {
  background-color: navy;
  color: #ace;
  margin: 5px;
  /* 乘法 */
  width: 150px;
  height: 100px;
}

.box7 {
  background-color: navy;
  color: #ace;
  margin: 5px;
  /* 除法 記得() */
  width: 33.33333px;
  height: 200px;
}

.box8 {
  background-color: navy;
  color: #ace;
  margin: 5px;
  /* 餘數 */
  width: 35px;
  height: 150px;
}

.box9 {
  background-color: navy;
  color: #ace;
  margin: 5px;
  /* 使用 calc() */
  width: calc(50px + 2rem);
  height: 35px;
}

/* 6. Function(函式) */
/* @function 名稱(參數) {} */
.sideLength {
  width: 200px;
  height: 400px;
}

/* 可以指定預設值 */
.sideLength2 {
  width: 100px;
}

.pow {
  width: 8px;
}

/* unit 內建函式判斷有無 px */
.rem {
  margin: 1.25rem;
  padding: 0.125rem;
}

/* 計算行高 */
/* 計算字體大小 */
/* 計算欄位寬度 */
#section6 .container p {
  font-size: 22px;
  line-height: 44px;
}

#section6 .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#section6 .row .col {
  border: 1px solid #333;
  width: 20%;
  padding: 1%;
  margin: 1% 0;
  background: #325497;
  color: #ae0000;
  /* 內建函式 darken lighten */
}

/* 7. Mixins (混入)
    缺點：
    優點：
    Mixins 與 Extend 的不同
*/
.mixin1 {
  width: 100px;
  height: 100px;
  background-color: #353;
}

.mixin2 {
  width: 100px;
  height: 100px;
  background-color: #353;
}

/* 跟函式ˊ一樣可以帶入預設值 */
/* $main 主軸, $cross 次軸 */
.boxflex {
  /* @include值 可用 null 來代替未設定的值，參數沒有使用不能省略 */
  width: 100px;
  height: 90px;
  border: 5px solid #baa;
  outline: 10px dashed purple;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.btn {
  display: inline-block;
  color: #1ee;
  text-decoration: none;
  line-height: 1.5;
  padding: 0.3rem 0.75rem;
  margin: 0 0.2rem;
  border-radius: 0.25rem;
}

/* @mixin 也可以無參數 */
/* 有共通點的樣式額外寫，獨特性的寫在mixin內方便傳變數 */
.btn-primary {
  -webkit-box-shadow: 0 0 0.3rem 0.1rem #6c757d;
          box-shadow: 0 0 0.3rem 0.1rem #6c757d;
  background-color: #007bff;
}

.btn-primary:hover {
  background-color: #0062cc;
}

.btn-secondary {
  -webkit-box-shadow: 0 0 0.3rem 0.1rem #6c757d;
          box-shadow: 0 0 0.3rem 0.1rem #6c757d;
  background-color: #6c757d;
}

.btn-secondary:hover {
  background-color: #545b62;
}

.btn-danger {
  -webkit-box-shadow: 0 0 0.3rem 0.1rem #6c757d;
          box-shadow: 0 0 0.3rem 0.1rem #6c757d;
  background-color: #dc3545;
}

.btn-danger:hover {
  background-color: #bd2130;
}

.btn-info {
  -webkit-box-shadow: 0 0 0.3rem 0.1rem #6c757d;
          box-shadow: 0 0 0.3rem 0.1rem #6c757d;
  background-color: #174ab8;
}

.btn-info:hover {
  background-color: #11388b;
}

.btn-success {
  -webkit-box-shadow: 0 0 0.3rem 0.1rem #6c757d;
          box-shadow: 0 0 0.3rem 0.1rem #6c757d;
  background-color: #28a745;
}

.btn-success:hover {
  background-color: #1e7e34;
}

/* sass 其餘參數(...)寫在參數後面，用 list 表示(sass 的陣列)
   JavaScript
*/
/* $shadows 為 list */
.box-shadow {
  width: 120px;
  height: 150px;
  -webkit-box-shadow: 0 0 10px blue, 0 0 19px pink, 0 0 50px aqua;
          box-shadow: 0 0 10px blue, 0 0 19px pink, 0 0 50px aqua;
  /* nth 內建函式，可以取 list 或 map 第幾個 item */
  text-shadow: 0 0 50px aqua;
}

/* 建立多個不同顏色的盒子 */
.b1, .b2, .b3, .b4, .b5 {
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 1px solid #252;
}

/* length() 去取 list 的長度 */
.b1 {
  background-color: #ee8071;
}

.b2 {
  background-color: #03eef2;
}

.b3 {
  background-color: #af6cdd;
}

.b4 {
  background-color: #8f2d99;
}

.b5 {
  background-color: #1cab1f;
}

/* 8. 使用 mixins + @content 設計 RWD */
#section8 {
  color: black;
}

@media (min-width: 576px) {
  #section8 {
    color: bisque;
  }
}

@media (min-width: 768px) {
  #section8 {
    color: brown;
  }
}

@media (min-width: 992px) {
  #section8 {
    color: blue;
  }
}

@media (min-width: 1200px) {
  #section8 {
    color: burlywood;
  }
}

@media (min-width: 1400px) {
  #section8 {
    color: blueviolet;
  }
}

#section8 .container {
  width: 100%;
}

#section8 .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
}

#section8 .col {
  border: 1px solid #000;
}

#section8 .col + .col {
  margin-top: 20px;
}

@media (min-width: 576px) {
  #section8 .container {
    width: 100%;
    padding: 15px;
  }
}

@media (min-width: 768px) {
  #section8 .col {
    width: 33.333%;
  }
}

@media (min-width: 992px) {
  #section8 .col {
    width: 25%;
  }
}

@media (min-width: 1200px) {
  #section8 .col {
    width: 20%;
  }
}

@media (min-width: 1400px) {
  #section8 .col {
    width: 10%;
  }
}

/* 9. 資料型態
    數字  
*/
