@charset "UTF-8";
body {
  color: white;
  background: #000;
  font-weight: 400;
  font-family: 'Noto Sans TC', sans-serif;
}

#section01,
#section02,
#section03,
#section04,
#section05,
#section06 {
  position: relative;
  z-index: 1000;
}

/* navbar 導覽列 -------------------------------------------------------------------------------- */
#navbar {
  background: #000;
}

#navbar .nav-link {
  font-size: 1.2rem;
  text-align: right;
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#navbar .nav-link:hover {
  color: yellow;
  background: rgba(50, 30, 0, 0.75);
}

#navbar .nav-link:active {
  font-weight: bolder;
  color: yellow;
  background: rgba(50, 30, 0, 0.75);
}

#navbar .register_login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#navbar .register_login .gap-line {
  display: none;
}

@media (min-width: 992px) {
  #navbar {
    background: url("../images/navbar.png") no-repeat center top;
    height: 200px;
  }
  #navbar .navbar-brand {
    display: none;
  }
  #navbar #kaifu_navabr {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #navbar .navbar-nav {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #navbar .navbar-nav .nav-item {
    position: relative;
  }
  #navbar .navbar-nav .nav-item + .nav-item {
    margin-left: 5px;
  }
  #navbar .navbar-nav .nav-item + .nav-item::before {
    content: '';
    width: 2px;
    height: 20px;
    background: rgba(255, 255, 255, 0.3);
    position: absolute;
    left: -5px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  #navbar .register_login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 1rem !important;
  }
  #navbar .register_login .gap-line {
    display: block;
  }
  #navbar .register_login::before {
    display: none;
  }
}

#home {
  margin-top: 60px;
  position: relative;
}

#home img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#home .mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background: url("../images/mask.png") no-repeat center/100% 100%;
  pointer-events: none;
}

#home .carousel-control-prev {
  background: url(../images/arrow_left.png) no-repeat center/80px;
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#home .carousel-control-prev:hover {
  background: url(../images/arrow_left_hover.png) no-repeat center/100px;
}

#home .carousel-control-next {
  background: url(../images/arrow_right.png) no-repeat center/80px;
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#home .carousel-control-next:hover {
  background: url(../images/arrow_right_hover.png) no-repeat center/100px;
}

@media (min-width: 992px) {
  #home {
    height: 100vh;
    margin-top: 0;
  }
}

/* modal -----------------------------------------------------------------------*/
.modal .modal-content {
  background-color: transparent;
  border: none;
}

.modal .modal-header {
  color: white;
  height: 120px;
  background: url(../../images/login_register_header.png) no-repeat center top/100%;
  padding: 5rem 5rem 2rem;
  border: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal .modal-header .btn-close {
  width: 0.5em;
  height: 0.5em;
  border: 1px solid #000;
  border-radius: 0.3rem;
  background-size: 0.8em;
  -webkit-filter: invert(100%);
          filter: invert(100%);
  position: absolute;
  right: 70px;
  top: 80px;
}

.modal .modal-body {
  padding: 0 5rem;
  background: url(../../images/login_register_body_02.png) no-repeat center/contain, url(../../images/login_register_body_01.png) repeat-y center/100%;
}

.modal .modal-footer {
  border: none;
  height: 110px;
  padding: 0 5rem;
  background: url(../../images/login_register_footer.png) no-repeat center bottom/100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.modal .modal-footer button {
  width: 100%;
  margin: 0;
}

.modal .modal-dialog-centered {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=styles.css.map */