/* register modal */
// #register
.modal {
  .modal-content {
    background-color: transparent;
    border: none;
  }
  .modal-header {
    color: white;
    /* 圖片尺寸為 200 */
    height: 120px;
    /* 要注意匯出時，圖片位置要以編譯後的 style.css 為基礎 */
    background: url('../images/login_register_header.png') no-repeat center
      top/100%;
    padding: 5rem 5rem 2rem;
    border: none;
    justify-content: center;
    .btn-close {
      /* em 根據父元素縮放 rem 根據網頁根元素 root 縮放 */
      width: 0.5em;
      height: 0.5em;
      border: 1px solid #000;
      border-radius: 0.3rem;
      background-size: 0.8em;
      filter: invert(100%);
      position: absolute;
      right: 70px;
      top: 80px;
    }
  }
  .modal-body {
    padding: 0 5rem;
    /*ody_02.png(有尖角) 蓋 ody_01.png(重複鋪滿剩餘的空間)*/
    background: url('../images/login_register_body_02.png') no-repeat
        center/contain,
      url('../images/login_register_body_01.png') repeat-y center/100%;
  }
  .modal-footer {
    border: none;
    height: 110px;
    padding: 0 5rem;
    background: url('../images/login_register_footer.png') no-repeat center
      bottom/100%;
    justify-content: center;
    align-items: start;
    button {
      width: 100%;
      margin: 0;
    }
  }
  .modal-dialog-centered {
    justify-content: center;
  }
}
