@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: '微軟正黑體';
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 75%;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 20px 0 10px;
}

section {
  margin-bottom: 2rem !important;
}

/* 多行註解 */
/* CSS 原生變數會被編譯出來 */
:root {
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
}

/* 1. Variables(變數) ---------------------------------------------------------------- */
h1 {
  background: -webkit-gradient(linear, left bottom, left top, from(#00004b), color-stop(55%, #000ac8), to(#0019ff));
  background: linear-gradient(0deg, #00004b 0%, #000ac8 55%, #0019ff 100%);
  color: #ffffff;
  border: 5px solid #fff;
  border-radius: 0.5rem;
  padding: 0.5rem 0.5rem;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  margin-bottom: 1rem;
}

/* 2. 流程控制（Flow Control） --------------------------------------------------------------------- */
.mybox {
  width: 150px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: red;
  color: white;
  font-size: 30px;
  border: 10px solid yellow;
  margin: 50px;
  outline: 10px solid purple;
}

/* @for ... through */
.through-1 {
  width: 50px;
  height: 50px;
  display: inline-block;
  background-color: #aaa;
}

.through-2 {
  width: 100px;
  height: 100px;
  display: inline-block;
  background-color: #aaa;
}

.through-3 {
  width: 150px;
  height: 150px;
  display: inline-block;
  background-color: #aaa;
}

/* @for ... to */
.to-1 {
  width: 50px;
  height: 50px;
  display: inline-block;
  background-color: #aaa;
}

.to-2 {
  width: 100px;
  height: 100px;
  display: inline-block;
  background-color: #aaa;
}

/* 3. Nested 巢狀 ------------------------------------------------- */
#section03 .menu {
  margin-top: 1rem;
  font-size: 0;
}

#section03 .menu li {
  display: inline-block;
  width: 100px;
  text-align: center;
  font-size: 1rem;
}

#section03 .menu li a {
  display: block;
  background: black;
  color: white;
  text-decoration: none;
  padding: 0.5rem;
}

#section03 .menu li a:hover {
  color: yellow;
  background: #eee;
}

#section03 .menu li + li {
  border-left: 1px solid #fff;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

nav {
  font-family: '微軟正黑體';
  font-size: 1rem;
  font-weight: bolder;
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
}

/* BEM */
.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar__item {
  color: red;
  padding: 1rem;
  border: 1px solid #333;
  text-decoration: none;
}

.sidebar__item--active {
  color: yellow;
  background-color: black;
}

.sidebar__item:hover {
  color: yellow;
  background-color: black;
}

#exercise .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#exercise .row .col {
  width: 31.333333%;
  margin: 1%;
  background: #fff;
  border: 1px solid #333;
  padding: 1rem;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#exercise .row .col:hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  margin-top: -5rem;
}

#exercise img {
  max-width: 100%;
}

#exercise a {
  text-decoration: none;
  color: black;
}

#exercise a:hover {
  text-decoration: underline;
  color: green;
}

/* 4. Extend(繼承) % 符號 ------------------------------------------------- */
.box1, .box2, .box3 {
  width: 50px;
  height: 50px;
  float: left;
}

#extend {
  overflow: auto;
}

.box1 {
  background: red;
}

.box2 {
  background: green;
}

.box3 {
  background: blue;
}

/* 5. Sass 的計算 ---------------------------------------------------------------------------- */
.box4 {
  background: #000;
  /* 加法 */
  width: 100px;
  height: 100px;
  /* 減法 */
  width: 50px;
  height: 50px;
  /* 乘法 */
  width: 100px;
  height: 100px;
  /* 除法，遇到除法養成習慣用括號 */
  width: 50px;
  height: 50px;
  /* 餘數 */
  margin-top: 20px;
  /* calc 使用變數時，使用插值語法 */
  margin-bottom: calc(50px + 10px);
}

/* 6. Function（函式） ------------------------------------------------------------------------------- */
.sideLength {
  width: 300px;
  height: 400px;
}

.sideLength2 {
  width: 100px;
}

.pow {
  width: 8px;
}

.rem {
  font-size: 1rem;
  padding: 2rem;
}

#section06 .container p {
  font-size: 18px;
  line-height: 24px;
}

#section06 .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#section06 .row .col {
  border: 1px solid #333;
  width: 33.33333%;
  padding: 1%;
  margin: 1% 0;
  background: #e6e6e6;
  color: #999999;
}

/* 7. Mixins（混入）-------------------------------------------------------------------------------- */
.mixin1 {
  width: 100px;
  height: 100px;
  background: #333;
}

.mixin2 {
  width: 100px;
  height: 100px;
  background: #333;
}

.boxflex {
  width: 100px;
  height: 100px;
  background: #333;
  outline: 10px dashed pink;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  line-height: 1.5;
  padding: 0.3rem 0.75rem;
  margin: 0 0.2rem;
  border-radius: 0.25rem;
}

.btn-dark {
  -webkit-box-shadow: 0 0 0.3rem 0.1rem rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 0.3rem 0.1rem rgba(0, 0, 0, 0.6);
  background-color: #000;
}

.btn-dark:hover {
  background-color: #1a1a1a;
}

.btn-primary {
  -webkit-box-shadow: 0 0 0.3rem 0.1rem rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 0.3rem 0.1rem rgba(0, 0, 0, 0.6);
  background-color: #007bff;
}

.btn-primary:hover {
  background-color: #0062cc;
}

.btn-success {
  -webkit-box-shadow: 0 0 0.3rem 0.1rem rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 0.3rem 0.1rem rgba(0, 0, 0, 0.6);
  background-color: #28a745;
}

.btn-success:hover {
  background-color: #1e7e34;
}

.btn-danger {
  -webkit-box-shadow: 0 0 0.3rem 0.1rem rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 0.3rem 0.1rem rgba(0, 0, 0, 0.6);
  background-color: #dc3545;
}

.btn-danger:hover {
  background-color: #bd2130;
}

.box-shadow {
  width: 100px;
  height: 100px;
  -webkit-box-shadow: 0 0 10px blue, 0 0 20px red;
          box-shadow: 0 0 10px blue, 0 0 20px red;
  text-shadow: 0 0 20px red;
}

/* 建立多個不同顏色的盒子 */
.b1, .b2, .b3, .b4, .b5 {
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 1px solid #000;
}

.b1 {
  background: #422570;
}

.b2 {
  background: #8f9ff5;
}

.b3 {
  background: #628f1e;
}

.b4 {
  background: #9cb9fb;
}

.b5 {
  background: #5def07;
}

/* 8. 使用 mixin + @content 設計 RWD -----------------------------------------------------------------*/
#section08 .container {
  width: 100%;
}

#section08 .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#section08 .col {
  width: 100%;
  padding: 15px;
  border: 1px solid #333;
}

#section08 .col + .col {
  margin-top: 20px;
}

@media (min-width: 576px) {
  #section08 .container {
    width: 75%;
  }
  #section08 .col {
    width: 50%;
  }
  #section08 .col + .col {
    margin-top: 0;
  }
}

@media (min-width: 768px) {
  #section08 .col {
    width: 33.333333%;
  }
}

@media (min-width: 992px) {
  #section08 .col {
    width: 25%;
  }
}

@media (min-width: 1200px) {
  #section08 .col {
    width: 20%;
  }
}

@media (min-width: 1400px) {
  #section08 .col {
    width: 10%;
  }
}

/* 9. 資料型態 */
