* {
  font-family: '微軟正黑體', 'Montserrat';
}

/* .w-100 {
  width: 100vw;
} */

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100vh;
}

.w-15 {
  width: 15%;
}

.w-85 {
  width: 85%;
}

.h-25 {
  height: 25px;
}

.m-auto {
  margin: auto;
}

.border-box {
  box-sizing: border-box;
}

.m-3 {
  margin: 3px;
}
.p-5 {
  padding: 5px;
}

.d-block {
  display: block;
}
.d-inline {
  display: inline;
}
.d-inline-block {
  display: inline-block;
}

.float-L {
  float: left;
}
.float-R {
  float: right;
}
.float-C {
  clear: both;
}

/* 最上方釘住的欄位 */
#top {
  background-color: crimson;
}
/* 上方中間搜尋 */
#search {
  background-color: yellowgreen;
  vertical-align: middle;
}
/* #search form {
  vertical-align: middle;
} */

#search input {
  border-radius: 2px 0 0 2px;
  border-color: gainsboro;
  border-width: 0.7px;
  padding: 2px 0;
  margin-right: 0;
}
/* html消除button之間的間距 */
#search button:nth-child(1) {
  border-radius: 0 25px 25px 0;
}
#search button:nth-child(2) {
  border-radius: 0 2px 2px 0;
  border-color: gray;
  border-width: 0.7px;
  background-color: gainsboro;
  /* border: unset; */
  padding: 2px 17px;
  margin-left: 0;
}
#search button:nth-child(3) {
  border: unset;
  background-color: transparent;
  padding: 2px 7px;
}

#logo,
#sign i {
  font-size: 2rem;
  margin: 5px;
}

#logo img {
  width: 80px;
}
#sign img {
  border-radius: 50%;
}
#ads button {
  padding: 5px 12px;
  border: 1.5px solid #fff;
  border-radius: 2px;
  background-color: #000;
  color: #fff;
}

/*  左側釘住的導覽列 */
#dashboard {
  background-color: rgb(181, 233, 253);
}

/* 中間影片資訊區 */
#content {
  background-color: rgb(250, 204, 163);
}
